<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<body style="background-color: #2D3748;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;">
  <div>
    <h1>Restablecer contraseña</h1>
    <a style="background-color: #718096;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.92);
    margin-top: 20px;" class="link" role="button" href=" <%= url %>/auth/reset_password/<%= token %>">Haga
      click aqui
      para resetear
      su
      contraseña</a>
  </div>
  <div style="margin-top: 30px;
    font-style: italic;">
    <p>Tiene 24 horas para resetear la contraseña, al pasar este tiempo debera solicitarlo de nuevo.</p>
  </div>
</body>

</html>